body{
    background-color: #131212;
    cursor:url(./links/img/cursor.png),auto;
}

.color_top{
        background-color: #FBF532;
        height: 200px;
        background-position: center;
        position: relative;
}

.title_text{
    font-family: monospace;
    text-align: center;
    color: rgb(2, 2, 1);    
    position: relative;
    top: 30%;
}

.list_category{
    text-align: center;
    list-style-position: inside;
    color:#FBF532;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h3{
    text-align: center
}

p{
    text-align: center  
}

.div_img{
    padding-top: 100px ;
}
div.menu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    background-color: #777;
}