body{
    background-color: #131212;
    cursor:url(./links/img/cursor.png),auto;
}

.color_top{
        background-color: #FBF532;
        height: 200px;
        background-position: center;
        position: relative;
}

.title_text{
    font-family: monospace;
    text-align: center;
    color: rgb(2, 2, 1);    
    position: relative;
    top: 30%;
}

.list_category{
    text-align: center;
    list-style-position: inside;
    color:#FBF532;
}
