/*CONTENIDO UNIVERSAL PARA TODAS LAS PÁGINAS*/
body{
    background-color: #FDFF87;
    font-family: Arial, Helvetica, sans-serif;
    cursor:url(links/img/cursor-flecha.png),auto;
}

.banner{
    background-image: url("links/img/banner_img.png");
    height: 200px;
    background-position: center;
}

.title_text{
    font-family: monospace;
    text-align: center;
    color: yellow;    
    position: relative;
    top: 30%;
}

footer {
    clear: both;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: black;
    color: yellow;
    text-align: center;
    width: 100%;
}

div.menu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    background-color: #777;
}

/*ESTILOS INDEX*/
.info{
    display: inline;
    font-size: 20px;
    color: yellow;
}

.content {
    padding: 20px;
    overflow: hidden;
}

.content img {
    height: 300px;
    margin-right: 15px;
    float: left;
}

.content p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    font-size: 50px;
}

.box{
    background-color: #424242;
}

.centrado{
    text-align: center;
}

/*ESTILOS CATALOGO*/
.list_category{
    text-align: center;
    list-style-position: inside;
    color:#FBF532;
}

    div.gallery {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 90px;
        padding: 10px;
        float: left;
        width: 300px;
        height: 250;
    }
    
    div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
        
    .hover08 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        width: 100%;
        height: auto;
        border-radius: 10px;
    
    }
    .hover08 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    
    .desc {
        margin-left: 40px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        color: yellow;
        border-radius: 10px;
        height: 80px;
        width: 220px;
    }
    
    /*ESTILOS DE CONTACTO*/

li {
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    color: yellow;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 25pxpx;
}

.contacto p{
    font-family: monospace;
    font-size: 20px;
    color: yellow;
    text-align: center;
}

/*ESTLIOS PARA LOS ENLACES A LAS GAMMAS*/

a:link {
    color: yellow;
    text-decoration: none;
}
 
a:visited {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: yellow;
    text-decoration: underline;
}






    